@using Dealership.Models;

<h1>All Cars</h1>

@if (Model.Count == 0)
{
  <p>There are no cars available.</p>
}
<ul>
  @foreach (Car car in Model)
  {
    <li>Car: @car.MakeModel
      <ul>
        <li>Price: $@car.Price</li>
        <li>Miles: @car.Miles</li>
      </ul>
    </li>
  }
</ul>

<form action="/Cars" method="post">
  <label for="stringMaxPrice">Filter By Max Price:</label>
  <input id="stringMaxPrice" name="stringMaxPrice" type="number" min="0">
  <label for="stringMinPrice">Filter By Min Price:</label>
  <input id="stringMinPrice" name="stringMinPrice" type="number" min="0">
  <label for="stringMinMileage">Filter By Mininum Mileage:</label>
  <input id="stringMinMileage" name="stringMinMileage" type="number" min="0">
  <label for="stringMaxMileage">Filter By Maximum Mileage</label>
  <input id="stringMaxMileage" name="stringMaxMileage" type="number" min="0">
  <button type="submit">Filter</button>
</form>

<a href="/">Home</a>